* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}


/* ******* Hack ******* */

#hack {
    position: absolute;
    z-index: 2;
    padding-top: 20px;
    width: 10vw;
    filter: opacity(5%);
}

#hack:hover {
    filter: opacity(15%);
    cursor: pointer;
}


/* ***** FONTS ***** */

@font-face {
    font-family: "Magic-school-one";
    src: url("../fonts/magicschoolone-webfont.woff") format("woff");
    src: url("../fonts/magicschoolone-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Harry-Potter";
    src: url("../fonts/harrp___-webfont.woff") format("woff");
    src: url("../fonts/harrp___-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Magic-owl";
    src: url("../fonts/magicowl-webfont.woff") format("woff");
    src: url("../fonts/magicowl-webfont.woff2") format("woff2");
}

html {
    scrollbar-width: normal;
    scrollbar-color: purple black;
}

html::-webkit-scrollbar {
    width: 1.2vw;
}

html::-webkit-scrollbar-thumb {
    background-color: rgb(57, 3, 88);
}

html::-webkit-scrollbar-thumb:hover {
    background-color: rgba(57, 3, 88, 0.274);
}

html::-webkit-scrollbar-track {
    background-color: rgb(147, 19, 221);
}

html::-webkit-scrollbar-track:hover {
    background-color: rgba(147, 19, 221, 0.185);
}

body {
    font-family: 'Magic-owl', sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    letter-spacing: 2px;
    background-color: blueviolet;
    margin: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
    color: whitesmoke;
    font-family: 'Magic-school-one';
    font-size: 2.4rem;
    letter-spacing: 3px;
    text-shadow: 2px 3px #941e8e;
}

#sorting {
    text-align: center;
    color: whitesmoke;
    font-family: 'Harry-Potter';
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-shadow: 2px 3px #941e8e;
}

#splash {
    background-image: url(/pics/splash.webp);
    width: 100vw;
    margin: 0 auto;
    height: 100%;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100vw;
}

nav {
    width: 100%;
    display: flex;
    margin: 0 auto;
    position: relative;
    padding-top: 1%;
}

button.filter {
    width: 8%;
    margin-bottom: 10px;
}

#title {
    padding-top: 1%;
    position: relative;
}

#list {
    position: relative;
    margin: 0 auto;
}

th {
    padding: 20px;
    font-size: .8em;
}

tbody {
    margin-top: 15px;
    display: -ms-inline-grid;
    /* grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    text-align: center;
    background-color: lightgrey;
    border: solid 2px black;
    padding: 15px;
}

#sorting th {
    font-size: large;
    color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

[data-action] {
    cursor: pointer;
}

button.filter {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#filterbuttons {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#houses {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 15px;
}

.dropbtn {
    margin-bottom: 15px;
    background-color: transparent;
    text-align: center;
    color: whitesmoke;
    font-family: 'Harry-Potter';
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-shadow: 2px 3px #941e8e;
    padding: 13px 13px;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: purple;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content button {
    color: white;
    width: 100%;
    align-content: center;
    background-color: transparent;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    font-family: 'Harry-Potter';
    font-size: 1rem;
    text-shadow: 2px 3px #941e8e;
}


/* Change color of dropdown links on hover */

.dropdown-content button:hover {
    background-color: purple;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
    background-color: rgba(133, 22, 133, 0.753);
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropbtn:hover {
    background-color: rgba(133, 22, 133, 0.404);
}

#list tbody tr td {
    padding: 3px;
    border-radius: 5px;
}

#list tbody tr:nth-child(odd) td {
    background-color: rgba(128, 0, 128);
    color: whitesmoke;
}


/****** DATA ******/

[data-field="prefect"][data-prefect="false"] {
    filter: grayscale(100%);
    content: "⭐";
    cursor: pointer;
    text-align: center;
}

[data-field="prefect"][data-prefect="true"] {
    filter: grayscale(0%);
    content: "⭐";
    cursor: pointer;
    text-align: center;
}

[data-field="inquis"][data-inquis="false"] {
    filter: grayscale(100%);
    content: "🏆";
    cursor: pointer;
    text-align: center;
}

[data-field="inquis"][data-inquis="true"] {
    filter: grayscale(0%);
    content: "🏆";
    cursor: pointer;
    text-align: center;
}

[data-image="false"] {
    display: none;
}

[data-gender="false"] {
    display: none;
}

[data-pure="false"] {
    display: none;
}

[data-muggle="false"] {
    display: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.dialog {
    display: none;
}

.dialog.show {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
}

.dialogcontent {
    background-color: rgb(185, 33, 173);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10vw 8vw 8vw 8vw;
    position: relative;
}

#cannotbeexpelled.dialog.show {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    background-image: url(/studentphotos/anonymous.png);
}

#cannotbeexpelled.dialogcontent {
    color: whitesmoke;
    background-color: rgba(185, 33, 172, 0.562);
    font-family: 'Harry-Potter';
    padding: 10vw 8vw 8vw 8vw;
    position: relative;
}

.dialog h1 {
    margin: 0;
    font-size: 130%;
}

.dialog h2 {
    margin: .5em 0;
    font-size: 110%;
    font-weight: lighter;
}

.dialog .closebutton {
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 4vw;
    right: 4vw;
    border: none;
    background-color: transparent;
    font-size: 90%;
    color: darkgray;
}

.dialog .closebutton:hover {
    color: black;
}


/* STUDENT POPUP */

.hacked.none {
    display: none;
}

.typewritten {
    font-family: 'Special Elite', cursive;
}

#schoolname.none {
    display: none;
}

#studentpop {
    display: none;
}

#studentpop tbody {
    background-color: transparent;
}

#studentpop.show {
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
}

.popupcontent {
    background-color: rgba(119, 45, 216, 0.747);
    color: whitesmoke;
    font-family: 'Harry-Potter';
    padding: 10vw 8vw 8vw 8vw;
    position: relative;
}

.popupcontent table {
    background-color: rgba(119, 45, 216, 0.747);
    color: whitesmoke;
}

#studentpop h1 {
    margin: 0;
    font-size: 130%;
}

#studentpop h2 {
    margin: .5em 0;
    font-size: 110%;
    font-weight: lighter;
}

#studentpop .closebuttonpop {
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 4vw;
    right: 4vw;
    border: none;
    background-color: transparent;
    font-size: 90%;
    color: darkgray;
}

#studentpop .closebuttonpop:hover {
    color: black;
}

#studentpop tbody [data-field="prefect"][data-prefect="false"] {
    filter: grayscale(100%);
    content: "⭐";
    text-align: center;
}

#studentpop tbody [data-field="prefect"][data-prefect="true"] {
    filter: grayscale(0%);
    content: "⭐";
    text-align: center;
}

#studentpop tbody [data-field="inquis"][data-inquis="false"] {
    filter: grayscale(100%);
    content: "🏆";
    text-align: center;
}

#studentpop tbody [data-field="inquis"][data-inquis="true"] {
    filter: grayscale(0%);
    content: "🏆";
    text-align: center;
}

[data-field="firstname"]:hover {
    filter: grayscale(100%);
    cursor: pointer;
}

.dialog {
    z-index: 1;
}

.popupbox {
    z-index: 0;
}

#searchbar {
    width: 400px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #d11cc8;
    background-color: rgba(245, 245, 245, 0.836);
    padding: 10px 10px;
    font-size: 1.2rem;
}

#searchwrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

#searchwrapper::after {
    position: relative;
    top: 7px;
}

#searchwrapper::after {
    content: '🔍';
    right: 2vw;
}

footer span {
    position: relative;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-family: 'lato' sans-serif;
    font-size: larger;
}

footer {
    padding-top: 55vh;
    position: relative;
}